<div [hidden]="computingFactorials == false" class="progress-bar">
	<div [style.width.%]="progress" class="progress"></div>
</div>

<div class="header">
	<h1>
		{{title}}
	</h1>

	<label for="nFactorial">Compute the next {{numberOfFactorials}} factorials, starting on:</label>
	<input (input)="setStartNumber($event)" [value]="firstFactorial" placeholder="Set the start number">
	<button (click)="computeFactorials()">Compute factorials</button>
	<button (click)="cleanResults()" [disabled]="computingFactorials == true">Clean results</button>
	<div [hidden]="computingFactorials == false">Completing: {{progress}} %</div>
</div>

<div class="items" *ngFor="let item of items">
	{{item}}
</div>
