<h1>
	{{title}}
</h1>

<div>
	<label for="nFactorial">Compute factorials of first N numbers</label>
	<input (input)="setNumberOfFactorials($event)" placeholder="Set a number">
	<button (click)="computeFactorials()">Compute factorials</button>
	<button (click)="cleanResults()" [disabled]="computingFactorials == true">Clean results</button>
</div>

<div [hidden]="computingFactorials == false">Completing: {{progress}} %</div>
<div *ngFor="let item of items; let i = index;">
	{{i+1}} - {{item}}
</div>
